
:root {
  --primary-100: #ff6600;
  --primary-200: #ff983f;
  --primary-300: #ffffa1;
  --accent-100: #f5f5f5;
  --accent-200: #929292;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #1d1f21;
  --bg-200: #2c2e30;
  --bg-300: #444648;

  --loginBorderRadus: 0.25rem;
  --loginColor: #eee;
  --loginSubmitColor: #eee;


  --htmlFontSize: 100%;
  --bodyColor: var(--bg-300);
  --bodyFontFamily: "Open Sans";
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;


  --backgroundColor: #171821;
  --bgSection: #21222D;
}


.logindiv {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.grid {
  inline-size: 90%;
  margin-inline: auto;
  max-inline-size: 20rem;
}


.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* layout/base.css */

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Share Tech Mono", monospace;
  font-weight: 700;
}

html {
  box-sizing: border-box;
  font-size: var(--htmlFontSize);
}

body {
  width: 100vw;
  height: 100vh;
  /* background-color: var(--bg-100); */
  color: #171821;
  background-size: cover;
  font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
  font-size: var(--bodyFontSize);
  font-weight: var(--bodyFontWeight);
  line-height: var(--bodyLineHeight);
  margin: 0;
  padding: 0;
  min-block-size: 100vh;
  /* background-color: var(--backgroundColor); */
  /* background-image: url(./assets/bg.svg); */
  overflow: hidden;
  padding: 10px;
}

main {
  width: 98%;
  height: 100%;
  margin: 10px;
  display: flex;
  /* background: var(--backgroundColor); */
  display: flex;
  flex-direction: column;
  gap: 10px;

}

header {
  height: 50px;
  width: 98%;
  margin: auto;
  border-radius: 10px;
  /* box-shadow: 0 8px 32px 0 rgba(6, 7, 19, 0.37); */
  background: rgba(33, 34, 45, 0.103);
  /* background: var(--bgSection); */
}

.headerDiv {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.headerDiv p {
  color: var(--text-200);
}

.profilInfo {
  display: flex;
  align-items: center;
}

.profilInfo img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 5px;
}

section {
  display: flex;
  gap: 10px;
}
.sectionDiv,
.sectionDiv2 {
  border-radius: 10px;
  width: 66%;
  height: 45vh;
  /* background: var(--bgSection); */

  background: rgba(33, 34, 45, 0.103);
  /* box-shadow: 0 8px 32px 0 rgba(6, 7, 19, 0.37); */
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.041);
}

.sectionDiv {
  min-width: 400px;
}

.sectionDiv2 {
  width: 35%;
  min-width: 250px;

}

.secondSection {
  flex-direction: row-reverse;
}

.contentDiv1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  gap: 10px;
  align-items: center;
  height: 100%;
  padding: 0px 10px;

}

.div1FirstSection h4,
.div1FirstSection p {
  margin-left: 10px;
}

.div1FirstSection p {
  margin-top: 0px;
}

.cart {
  /* width: 24%; */
  height: 80%;
  /* min-width: 95px; */
  /* min-height: 95px; */
  /* background: var(--backgroundColor); */
  box-shadow: 0 1px 12px 0 rgba(6, 7, 19, 0.37);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media ((max-width: 1400px)) {
  body{
    overflow-y: scroll;
  }
  .div1FirstSection{
    width: 100%;
  }
  .div2FirstSection{
    width: 100%;
  }
.firstSection{
  display: flex;
  flex-direction: column;
}
}
  @media ((max-width: 690px)) {
  body {
    padding: 3px;
    padding-left: 10px;
    margin: 0;
  }

  main {
    margin: 0;
    margin-top: 10px;
  }

  section {
    flex-direction: column;
    height: 700px;
  }

  .sectionDiv,
  .sectionDiv2 {
    width: 100%;
    height: 100%;
  }

  .cart {
    /* width: 24%; */
    height: 190px;
  }
  .secondSection{
    flex-direction: column;
  }
}